<div class="container">
  <div class="formCadastro">
    <h1>Cadastro de Usuário</h1>
    {{{validation}}}
    <form method="post" class="container" action="/cadastro">
      <div class="mb-3">
        <label for="nome">Nome <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
      </div>
      <div class="mb-3">
        <label for="email">Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        <small id="emailHelp" class="form-text text-muted">We'll never
          share your email with anyone else.</small>
      </div>
      <div class="mb-3">
        <label for="senha">Senha <span class="text-danger">*</span></label>
        <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
      </div>
      <div class="mb-3 d-grid gap-2">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
